<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.inslee.admin.model.dao.sys.SysRoleMapper">
    <resultMap id="BaseResultMap" type="cn.inslee.admin.model.domain.sys.SysRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="role_char" property="roleChar" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT"/>
        <result column="creator" property="creator" jdbcType="BIGINT"/>
        <result column="creation_time" property="creationTime" jdbcType="BIGINT"/>
        <result column="modifier" property="modifier" jdbcType="BIGINT"/>
        <result column="modify_time" property="modifyTime" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="DTOResultMap" type="cn.inslee.admin.model.dto.sys.SysRoleDTO" extends="BaseResultMap">
        <collection property="resIds" ofType="long" javaType="list">
            <result column="res_id"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
    id, `name`, remark, role_char, del_flag,
    creator, creation_time, modifier, modify_time
    </sql>
    <sql id="View_List">
        id, `name`, role_char, remark
    </sql>
    <sql id="Associate_View_List">
        role.id, role.`name`, role.role_char, role.remark
    </sql>

    <select id="selectByUserId" parameterType="long" resultMap="BaseResultMap">
      SELECT
        <include refid="Associate_View_List"/>
      FROM
        sys_role role, sys_user_role ur, sys_user `user`
      WHERE
        `user`.id = #{uid}
      AND ur.role_id = role.id
      AND ur.uid = `user`.id
      AND `user`.del_flag = false
      AND `user`.status = false
      AND role.del_flag = false
    </select>
    <select id="selectByUserIdAssociateGroup" parameterType="long" resultMap="BaseResultMap">
      SELECT
        <include refid="Associate_View_List"/>
      FROM
	    sys_role role,
	    sys_group `group`,
	    sys_group_role gr,
	    sys_user_group ug,
        sys_user `user`
      WHERE
        `user`.id = #{uid}
	  AND ug.group_id = `group`.id
      AND ug.uid = `user`.id
	  AND gr.group_id = `group`.id
	  AND gr.role_id = role.id
      AND `user`.del_flag = false
      AND `user`.status = false
      AND `group`.del_flag = false
    </select>

    <select id="selectList" parameterType="cn.inslee.admin.model.query.sys.RoleQuery" resultMap="DTOResultMap">
        SELECT
        role.id, role.name, role.role_char, role.remark, res.id res_id
        FROM
        (SELECT
        <include refid="View_List"/>
        FROM
        sys_role
        WHERE
        del_flag = 0
        <if test="keyword != null">
            AND `name` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY id desc
        <if test="pageSize > 0">
            LIMIT #{pageNum}, #{pageSize}
        </if>
        ) role, sys_role_res rr, sys_res res
        WHERE
        role.id = rr.role_id
        AND res.id = rr.res_id
        ORDER BY role.id desc
    </select>

    <select id="countList" parameterType="cn.inslee.admin.model.query.sys.RoleQuery" resultType="long">
        SELECT
        COUNT(*)
        FROM
        sys_role
        WHERE
        del_flag = 0
        <if test="keyword != null">
            AND `name` LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <update id="updateById" parameterType="cn.inslee.admin.model.domain.sys.SysRole">
        update
          sys_role
        set
          `name` = #{name},
          role_char = #{roleChar},
          remark = #{remark},
          modifier = #{modifier},
          modify_time = #{modifyTime}
        where id = #{id}
    </update>

    <select id="countUserByRoleId" parameterType="long" resultType="long">
      SELECT
	    COUNT(*)
	  FROM
	    sys_user `user`, sys_user_role ur
	  WHERE `user`.id = ur.uid
	  AND `user`.del_flag = false
	  AND ur.role_id = #{roleId}
    </select>

    <select id="countGroupByRoleId" parameterType="long" resultType="long">
      SELECT
	    COUNT(*)
	  FROM
	    sys_group `group`, sys_group_role gr
	  where `group`.id = gr.group_id
	  and `group`.del_flag = false
	  and gr.role_id = #{roleId}
    </select>
</mapper>